/** General ********************************************/
header{
	font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	color: #aeaeae;
	font-weight: 700;
	letter-spacing: 0.6em;
	margin: 2em 0.2em;
	padding-left: 10px;
	padding-right: 25px;
	padding-top: 4px;
	padding-bottom: 1px;
	border-radius: 5px;
	text-align: center;
}

body{
	font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
	color: #505050;
	margin: 0 auto 1em auto;
	background-image:url('../img/zwartevilt.png');
	width: 90%;
}

h1{
	letter-spacing: 0.4em;
}

/* Formatting */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.center{
	text-align: center;
}



/* LVHA */
a:link {color: #6699CC; text-decoration: none}
a:visited {color: #6699CC }
a:hover {color:#7A3DB8}
header a:hover{color: #6699CC}
aside h3 {letter-spacing:normal}
nav {
	margin: 0.5em auto 0.5em auto;
	width: 900px;
	backgroud-color: #000000;
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li{
	float: left;

}
nav a:link, nav a:visited{
	text-decoration: none;
	padding-left: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
	height: 20px;
	width: 110px;
	margin: 0 auto 0 auto;
}
nav a:hover {
	color:#f3f1fa; 
	border-radius: 5px;
}

#nav_current{
	background-color: #2b2834;
}

/* Scrolly ********************************************/
section {
    min-height: 800px;
    position: relative;
    width: 100% !important;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 section article{
 	position: absolute;
 	top: 140px;
 	left: 40px;
 	width: 350px;
 	z-index: 4;
 }

section article {
	background-color: rgba(229, 225, 219, 0.5);
	padding-left: 10px;
	padding-right: 8px;
}

#joubert>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5NzBsdEJDLUtRQXM) 30% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}


#carroll>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5TzhSNDJXMjJCNU0) 30% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#carroll>div:nth-of-type(2){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5U3BmT1J2aGFEaDQ)  no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	width: 100%;

}

#carroll>div:nth-of-type(3){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5UFQwOFREc0NHbzQ) 50% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#carroll>div:nth-of-type(4){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5aldONHRoOFF1NVk) 50% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
}

#palaniuk>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5aVBVSzJ5SXFlTlk) 30% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#butler>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5dkNzbk81dDJ0ZVk) 30% 0 no-repeat fixed;
	margin: 0;
	height: 1200px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}*/

#section0>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5RURYT3ROdVZadVE) 30% 0 no-repeat fixed;
	margin: 0;
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#section1>div:nth-of-type(1){
	background: url(https://googledrive.com/host/0BxSg4jVnOyd5T3JlN0hHSTFSV3c) 30% 0 no-repeat fixed;
	margin: 0;
	height: 800px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}